.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

data/raw/*
data/bronze/*
data/silver/*
data/gold/*

!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

models/*
artifacts/*
!models/.gitkeep
!artifacts/.gitkeep

mlruns/
mlartifacts/
.dvc/cache/

*.zip
*.7z
*.csv
*.parquet

.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml
