jupyterlab
ipykernel
python-dotenv
pyyaml

pandas
numpy
pyarrow
duckdb

scikit-learn
xgboost
joblib
shap

mlflow
dvc

fastapi
uvicorn[standard]
pydantic
streamlit

evidently
prometheus-client
psutil

pytest
pytest-cov
httpx
ruff
